#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #000; */

}

:root{
  --omega:#ddf;
  --alpha:#44c;
  --beta:#00a;
  --gamma:#005;
}

#nav{
  color:black;
}


.home{
  color: white;
}

h1{color: var(--omega);}

body{
  color:var(--omega);
  background: var(--gamma);
  color: var(--omega);
}
h1 {
  font-size: min(40px, 8vw);
}
h2{
  font-size: min(20px,4vw);
}

button.test{
  background: var(--beta);
  border-radius: 2vmax;
  padding:1vmax;
}
button.topicButton{
	width:100%;
}
input{
  margin:auto;
  background: white;
  border-radius:2vmax;
  padding:1vmax;
}
.frame{
  background: var(--alpha);
  margin:auto;
  border-radius: 5vmin;
  width:800px;
  width:80vw;
}
.scrollbox{
  /* background-color: red; */
  margin:auto;
  border:0;
  padding: 5vh;
  height:50vh;
  height:200px;
  overflow:auto;
}
