#app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #000; */

}


:root{
  --omega:#cce;
  /* --omega:#aeaeae; */
  /* --alpha:#44c; */
  --alpha:#36d;
  --beta:#00a;
  --gamma:#005;
  --active:#4af;
  --passive:#020850;
  --glow:0.0;
}


.face{
  width:100%;
  height:350px;

}

body{
  background: var(--gamma);
  color: var(--omega);
}
a{
  text-decoration: none;
  color:var(--alpha)
}

@media (min-width:320px)  {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  h1 {
    font-size: 4em;
  }
  h2{
    font-size: 3em;
    color:var(--omega);
  }

  button{
    font-size: 1em;
    color:var(--omega);
    background: var(--beta);
  }
  input{

    font-size: 3em;
    width:90%;
    margin:0.5em;
    background: white;
    border-radius: 2vmax;
    padding:0.5em;
  }
  button.test{
    margin:0.5em;
    font-size: 3em;
    height:2em;
    background: var(--beta);
    border-radius: 2vmax;
    padding:0.5em;
  }
  h3{
    font-size: 3em;
    color:var(--omega);
  }
  .nav{
    text-decoration: none;
    font-size:2em;

    /* background: white; */
  }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  a{
    font-size: 1em;
  }
  h2{
    font-size: 2em;
  }
  input{
    /* font-size: 2em;
    height: 2em; */
    width:50%;
  }
  h3{
    font-size: 1.2em;
  }
  .top{
    font-size: 1;
  }
  .nav{
    font-size: 1.5em
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }



button.topicButton{
	width:100%;
}

.bubble{
  background: var(--alpha);
  margin:auto;
  border-radius: 5vmin;
  width:80vw;
}

.scrollbox{
  /* background-color: red; */
  margin:auto;
  border:0;
  padding: 5vh;
  height:50vh;
  overflow:auto;
}
.question{
  padding:1em 0 1em 0;
}
.spacer{
  height:4em;
}

.face-image{
  z-index:-100;
  padding: 0;
  border:0;
  width: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  height: 400px;
  /* background: black; */
  background-image: url(assets/tsunamiwave.svg);
  background-repeat: no-repeat;
  background-size: 101%;
  /* background-position:left; */
  background-position:center;
  background-size: 100%;
}

#star{
  z-index: +100;
  padding: 0;
  border:0;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  background: transparent;
  color: red;
  background-image: url(assets/tsunamistar.svg);
  background-repeat: no-repeat;
  background-size: 101%;
  /* background-size: cover;  */
  background-position:center;
  filter:brightness(1.5)contrast(1);
}

.color{
  height: 100%;
  width: 100%;
  background-image: url(assets/tsunamistarcolor.svg);
  background-size:101%;
  background-position:center;
  mix-blend-mode:color;
  filter:brightness(1) saturate(var(--glow));
  /* filter:saturate(0); */
}

.impuls {
  animation-name:impuls;
  animation-duration:1s;
  animation-timing-function: ease-in-out;
}

.impuls > .color {
  animation-name:impulscolor;
  animation-duration:4s;
  animation-timing-function: ease-in-out;
  /* filter:saturate(2); */
}

@keyframes impulscolor{
  /* 0%{filter:brightness(4.3)hue-rotate(15deg)saturate(0);} */
  10%{filter:brightness(1)saturate(1);}
  /* 100%{filter:brightness(4.3)hue-rotate(15deg)saturate(0);} */

}

@keyframes impuls{
  0%{transform: scale(1) }
  50%{transform: scale(1.1) }
  100%{transform: scale(1) }
}

@keyframes example {
}
